.navigation-section {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.inner-navigation-logo {
    width: 30%;
}

.inner-navigation-munu {
    width: 70%;
}

.inner-navigation-munu ul li {
    margin-left: 30px;
    list-style-type: none;
}

.navigation-second-div {
    margin-top: 50px;
    z-index: 2;
    position: absolute;
    width: 100%;
}